/* Стили для всего */
* {
	margin: 0px;
	padding: 0px;
}


/* Основные стили */
body {
	padding-top: 35px;
	background-image: url(images/bg.jpg);
	color: #aca9a9;
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	text-align: center;
	letter-spacing: 1px;
}

/* Стили для заголовка */
h1 {
	color: #00c497;
}


/* Стили для главного контейнера */
#container {
	margin: 40px auto 15px;
	text-align: left;
	width: 774px;
}


/* Стили для контейнера работы */
#work_container {
	border: 2px dashed #373943;
	border-radius: 10px;
	margin: 50px 0px;
	padding: 20px 20px 35px;
}


/* Стили для кнопок */
.custom-button {
	text-decoration: none;
	background-color: #2e3038;
    color: #ffffffab;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 79px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Стили для кнопок при наведении */
.custom-button:hover {
	background-color: #3c3e48;
}


/* Стили для описания работы */
#content{
	font-size: 14px;
	margin: 20px 0;
}

/* Стили для списка с классом "styled-list" */
ul.styled-list {
	margin: 15px 0px 30px;
    list-style-type: disc;
    padding-left: 20px;
}

/* Стили для элементов списка */
ul.styled-list li {
    font-size: 14px;
    margin-bottom: 10px;
}


/* Стили для footer */
#page_footer {
	margin-bottom: 40px;
}

/* Стили для ссылок в footer */
#page_footer a {
	color: #afafaf;
	text-decoration: none;
}

/* Стили для ссылок в footer при наведении */
#page_footer a:hover {
    color: #00c497;
}
