* {
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 35px;
	background-image: url(images/bg.jpg);
	color: #aca9a9;
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	text-align: center;
	letter-spacing: 1px;
}


#container {
	margin: 0px auto;
	text-align: left;
	border: #860b09 2px solid;
	width:774px;
	background-color: #040404;
}


