* {
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 35px;
	background-image: url(images/bg.jpg);
	color: #aca9a9;
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	text-align: center;
	letter-spacing: 1px;
}


h1 {
	color: #00c497;
}

a {
	color: #afafaf;
	text-decoration: none;
}

a:hover {
    color: #00c497;
}

/* Стили для главного контенера */
#container {
	margin: 40px auto 15px;
	text-align: left;
	width:774px;
}

/* Стили для контенера работы */
#work_container {
	border: 2px dashed #373943;
	border-radius: 10px;
	margin: 50px 0px;
	padding: 20px;
}

/* Стили для кнопки */
.custom-button {
	background-color: #2e3038;
    color: #ffffffab;
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    border-radius: 79px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стили для кнопки при наведении */
.custom-button:hover {
	background-color: #3c3e48;
}

/* Стили для описания работы */
#content{
	margin: 20px 0;
}